/*
* Daniel Fang
* danielfang.org - 2015
* Page style
*/

@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html, body, div, li {
	font-family: 'Abel', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}


.fa {
	color: #272822;
}

.string {
	color: #F9F5C2;
}

.action {
	color: #F92672;
}

a {
	color: #66D9EF;	
}

p, h3, h4 {
	font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:active, a:visited, a:link {
	text-decoration: none;
}

a:hover {
	color: #A6E22E;
}

hr {
	margin-bottom: 50px;
}

hr:after {
	content: "";
	height: 10px;
	left: 50%;
	margin-top: -5px;
	position: absolute;
	width: 10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

#menu {
	background-color: white;
	border: 1px solid #272822;
	color: #272822;
	height: 80px;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#tagline-container {
	border-right: 1px solid #DDD;
	cursor: default;
	float: left;
	font-size: 25px;
	letter-spacing: 1px;
	height: 100%;
	margin-left: 30px;
	padding-top: 24px;
	width: 215px;
}

#pagelinks {
	display: inline-block;
    letter-spacing: 1px;
	margin-left: 0;
	width: 500px;
}

#pagelinks .fa {
	margin-right: 8px;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

@media screen and (max-width: 768px) {
	#pagelinks {
		width: 100%;
	}	
}

.pagelink {
	border-right: 1px solid #ddd;
	color: #272822;
	cursor: pointer;
	display: inline-block;
	height: 80px;
	padding: 30px 0;
	text-align: center;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.pagelink:hover .fa, .pagelink:hover {
	background-color: #272822;
	color: #ecf0f1;
}

#contacts {
	position: absolute;
	right: 30px;
	top: 30px;
	width: 200px;
}

#contacts .fa {
	opacity: .75;
	padding-top: 2px;
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

#contacts .fa:hover {
	opacity: 1;
}

.contact {
	display: inline-block;
	text-align: left;
	width: 50px;
}

#global-wrapper {
	margin-top: 80px;
	position: relative;
}

#work, #education {
	display: none;
}

section h1 {
	font-size: 40px;
	letter-spacing: 5px;
	text-align: center;
}

section .scaps {
    font-size: 56px;

}

section {
	padding: 20px 0 60px 0;
}

@media screen and (max-width: 768px) {
	section h1 {
		font-size: 30px;
		font-weight: 300;
	}

    section .scaps {
        font-size: 18px;
    }
}

#top h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 8px;
}

#top h2 {
	font-size: 28px;
	font-style: italic;
	font-weight: 300;
	letter-spacing: 3px;
	display: none;
}

#top {
	height: 700px;
	position: relative;
}

#seemore {
	bottom: 100px;
	color: white;
	cursor: pointer;
	font-size: 12px;
	height: 50px;
	left: 0;
	margin: auto;
	opacity: .75;
	padding-top: 25px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 50px;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

#seemore:hover {
	color: white;
	opacity: 1;
}

@media screen and (max-width: 768px) {
	#top h1 {
		font-size: 23px;
		letter-spacing: 5px;
	}

	#top h2 {
		font-size: 18px;
	}
}

#top, #work, #education {
	background-color: #272822;
	color: white;
}

#title {
	bottom: 0;
	height: 170px;
	left: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	top: -75px;
	width: 800px;
}

#title hr {
	max-width: 400px;
	margin-bottom: 5px;
}

#title hr:after {
    background-color: #F92672;
}

@media screen and (max-width: 768px) {
	#title {
		width: 100%;
		height: 110px;
	}

	hr {
		width: 70%;
	}
}

#bio {
	color: #666;
}

#bio a, #credits a, .shard a {
	color: #F92672;
}

#bio a:hover, #credits a:hover, .shard a:hover {
	text-decoration: underline;
}

#bio p {
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: left;
}

#bio .container-fluid {
	max-width: 1000px;
}

#bio > h1 {
	margin-bottom: 30px;
}

#profile {
	text-align: center;
	margin-bottom: 30px;
}

#profile img {
	max-width: 200px;
	display: inline-block;
}

@media screen and (max-width: 992px) {
	#profile {
		margin-bottom: 25px;	
	}
}

#chart {
	overflow: hidden;
}

.technologies {
	margin-top: 25px;
	margin-bottom: 25px;
}

#word-cloud {
	width: 100%;
}

#work .row {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#experiences, #hackathons {
	max-width: 800px;
}

.shard a {
	font-weight: 400;
}

.shard {
	color: black;
	height: 275px;
	margin-top: 0;
	margin-bottom: 25px;
	opacity: 1;
	overflow: hidden;
	padding-bottom: 25px;
	padding-top: 25px;
	text-align: center;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-webkit-font-smoothing: antialiased;
}

.shard-container {
    background-color: #ecf0f1;
	border: 2px solid #ecf0f1;
	cursor: pointer;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	min-height: 275px;
	overflow: hidden;
	position: absolute;
	right: 0;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	width: 90%;
}

.shard-extra {
	background-color: #ecf0f1;
	left: 0;
	margin: auto;
	min-height: 275px;
	padding: 55px 15px 0 15px;
	position: absolute;	
	right: 0;
	top: 250px;
	transition: top .25s ease-in-out;
	-moz-transition: top .25s ease-in-out;
	-o-transition: top .25s ease-in-out;
	-webkit-transition: top .25s ease-in-out;
}

.shard-img-container {
	margin-top: 20px;
	text-align: center;
	transition: margin-top .25s ease-in-out;
	-moz-transition: margin-top .25s ease-in-out;
	-o-transition: margin-top .25s ease-in-out;
	-webkit-transition: margin-top .25s ease-in-out;
}

.shard-img-container img {
	display: inline-block;
	width: 100px;
}

.more img {
	opacity: .5;
	width: 20px;
	transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

.shard-container.show .more img {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.shard-container:hover .more img {
	opacity: .75;
}

.shard-container.show .shard-img-container {
	margin-top: -160px;
}

.shard-container.show .shard-extra {
	top: 0;
}

.shard .date {
	font-size: 15px;
}

.shard h3 {
	font-size: 18px;
}

@media screen and (max-width: 992px) {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	.shard {
		width: 100%;
	}

	.shard-img-container img {
		padding-top: 25px;
		width: 64px;
	}
}

#clubs {
	margin-top: 20px;
}

#education {
	text-align: center;
}

#education-container {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;

}

.education-section {
	background-color: #333;
	margin-bottom: 25px;
	padding: 25px;
}

#uw-logo {
	height: 40px;
	margin: 20px;
}

@media screen and (max-width: 768px) {
	#uw-logo {
		height: 20px;
		margin: 25px 0;
	}
}

.course {
	color: #FD971F;
}

.course:hover {
	color: #66D9EF;
}

.thumbnail {
	margin-bottom: 0;
	min-height: 220px;
}

.club img {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (max-width: 768px) {
	.club {
		margin-bottom: 25px;
	}
}

#mobile-contact {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	text-align: center;
}

#credits {
	background-color: #EEE;
	padding-bottom: 25px;
	text-align: center;
}
