/*
 * Daniel Fang
 * danielfang.org - 2015
 * Page style
 */

 @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic,400italic);
 @import url(http://fonts.googleapis.com/css?family=Raleway:200);

 html, body, div, li {
 	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	overflow-x: hidden;
 }

 .fa {
 	color: #272822;
 }

 .string {
 	color: #F9F5C2;
 }

 .action {
 	color: #F92672;
 }

 a {
 	color: #66D9EF;	
 }

 #experience, #work, #education {
 	display: none;
 }

 p, h3, h4 {
 	font-family: 'Raleway', sans-serif;
 }

 a, a:hover, a:active, a:visited, a:link {
 	text-decoration: none;
 }

 a:hover {
 	color: #A6E22E;
 }

 hr {
 	margin-bottom: 50px;
 }

 hr:after {
 	position: absolute;
 	left: 50%;
 	width: 10px;
 	content: "";
 	height: 10px;
 	margin-top: -5px;
 	transform: rotate(45deg);
 	-webkit-transform: rotate(45deg);
 	-o-transform: rotate(45deg);
 	-moz-transform: rotate(45deg);
 }

 #bio hr {
 	border-top: 1px solid #666;
 	max-width: 350px;
 }

 #bio hr:after {
 	background-color: #272822;
 }

 #work hr:after, #education hr:after {
 	background-color: #ecf0f1;
 }

 #work hr, #education hr {
 	border-top: 1px solid #ecf0f1;
 	max-width: 450px;
 }

 #contacts {
 	position: absolute;
 	right: 30px;
 	top: 30px;
 	width: 200px;
 }

 .contact {
 	text-align: center;
 	width: 50px;
 	display: inline-block;
 }

 #pagelinks {
 	margin-left: 0;
 	color: #272822;
 	display: inline-block;
 	width: 500px;
 }

 #pagelinks .fa {
 	margin-right: 8px;
 	transition: all .25s;
 	-moz-transition: all .25s;
 	-o-transition: all .25s;
 	-webkit-transition: all .25s;
 }

 @media screen and (max-width: 768px) {
 	#pagelinks {
 		width: 100%;
 	}	
 }

 .pagelink {
 	border-right: 1px solid #ddd;
 	cursor: pointer;
 	display: inline-block;
 	padding: 30px 0;
 	text-align: center;
 	height: 80px;
 	color: #272822;
 	transition: all .25s;
 	-moz-transition: all .25s;
 	-o-transition: all .25s;
 	-webkit-transition: all .25s;
 }

.pagelink:hover .fa, .pagelink:hover {
  	color: #ecf0f1;
  	background-color: #272822;
 }

 #menu {
 	background-color: white;
 	border: 1px solid #272822;
 	height: 80px;
 	overflow: hidden;
 	position: fixed;
 	width: 100%;
 	z-index: 100;
 }

 #tagline-container {
 	cursor: default;
 	float: left;
 	font-size: 25px;
 	height: 100%;
 	margin-left: 30px;
 	padding-top: 24px;
 	width: 215px;
 	border-right: 1px solid #DDD;
 }

 #tagline-base {
 	color: #272822;
 }

 #global-wrapper {
 	margin-top: 80px;
 	position: relative;
 }

 #menu.open + #global-wrapper {
 	left: 250px;
 }

 section h1 {
 	font-size: 50px;
 	font-weight: 100;
 	letter-spacing: 5px;
 	text-align: center;
 }

 section {
 	padding: 20px 0 60px 0;
 }

 .divider {
 	border-top: 1px #AAA solid;
 	margin: auto;
 	width: 70%;
 }

 h1 .scaps {
 	font-size: 38px;
 }

 @media screen and (max-width: 768px) {
 	section h1 {
 		font-size: 30px;
 		font-weight: 300;
 	}

 	h1 .scaps {
 		font-size: 25px;
 	}
 }

 #top h1 {
 	font-family: 'Raleway', sans-serif;
 	font-size: 70px;
 	font-weight: 400;
 	letter-spacing: 8px;
 }

 #top .scaps {
 	font-weight: 400;
 	font-size: 50px;
 }

 @media screen and (max-width: 768px) {
 	#top .scaps {
 		font-size: 20px;
 	}
 }

 #top h2 {
 	font-size: 28px;
 	font-style: italic;
 	font-weight: 300;
 	letter-spacing: 3px;
 }

 #top {
 	background-color: #272822;
 	color: white;
 	position: inherit;
 	height: 700px;
 }

 #seemore {
 	bottom: 100px;
 	color: white;
 	cursor: pointer;
 	font-size: 12px;
 	height: 50px;
 	left: 0;
 	margin: auto;
 	opacity: .75;
 	padding-top: 25px;
 	position: absolute;
 	right: 0;
 	text-align: center;
 	transition: all .25s;
 	-moz-transition: all .25s;
 	-o-transition: all .25s;
 	-webkit-transition: all .25s;
 	width: 50px;
 }

 #seemore:hover {
 	color: white;
 	opacity: 1;
 }

 @media screen and (max-width: 768px) {
 	#top h1 {
 		font-size: 23px;
 		letter-spacing: 5px;
 	}

 	#top h2 {
 		font-size: 18px;
 		font-weight: 300;
 	}
 }

 #top, #experience, #work, #education {
 	background-color: #272822;
 	color: white;
 }

 #title {
 	bottom: 0;
 	height: 170px;
 	left: 0;
 	margin: auto;
 	overflow: hidden;
 	position: absolute;
 	right: 0;
 	text-align: center;
 	top: -75px;
 	width: 800px;
 }

 #title h2 {
 	display: none;
 }

 #title hr {
 	max-width: 400px;
 	margin-bottom: 5px;
 }

 #title hr:after {
 	background-color: #ecf0f1;
 }

 @media screen and (max-width: 768px) {
 	#title {
 		width: 100%;
 		height: 110px;
 	}

 	hr {
 		width: 70%;
 	}
 }

 #bio {
 	color: #272822;
 }

 #bio a, #credits a, .shard a {
 	color: #F92672;
 }

 #bio a:hover, #credits a:hover, .shard a:hover {
 	text-decoration: underline;
 }

 .shard a {
 	font-weight: bold;
 }

 #bio p {
 	font-size: 17px;
 	letter-spacing: 1px;
 	margin-bottom: 20px;
 	padding-left: 25px;
 	padding-right: 25px;
 	text-align: left;
 }

 #bio p:hover {
 	color: black;
 }

 #bio .container-fluid {
 	max-width: 1000px;
 }

 #bio > h1, #experience > h1 {
 	margin-bottom: 30px;
 }

 #profile {
 	text-align: center;
 	margin-bottom: 30px;
 }

 #profile img {
 	max-width: 200px;
 	display: inline-block;
 }

 @media screen and (max-width: 992px) {
 	#profile {
 		margin-bottom: 25px;	
 	}
 }

 #work .row {
 	width: 80%;
 	margin: auto;
 }

 .shard {
 	color: black;
 	height: 275px;
 	margin-top: 0;
 	margin-bottom: 25px;
 	opacity: 1;
 	overflow: hidden;
 	padding-bottom: 25px;
 	padding-top: 25px;
 	text-align: center;
 	transition: all .5s;
 	-moz-transition: all .5s;
 	-o-transition: all .5s;
 	-webkit-transition: all .5s;
 	-webkit-font-smoothing: antialiased;
 }

 .shard-container {
 	background-color: #ecf0f1;
 	border: 2px solid #ecf0f1;
 	cursor: pointer;
 	left: 0;
 	margin-left: auto;
 	margin-right: auto;
 	min-height: 275px;
 	overflow: hidden;
 	position: absolute;
 	right: 0;
 	transition: all .5s;
 	-moz-transition: all .5s;
 	-o-transition: all .5s;
 	-webkit-transition: all .5s;
 	width: 90%;
 }

 .shard-extra {
 	background-color: #ecf0f1;
 	left: 0;
 	margin: auto;
 	min-height: 275px;
 	padding: 55px 15px 0 15px;
 	position: absolute;	
 	right: 0;
 	top: 250px;
 	transition: top .25s;
 	-moz-transition: top .25s;
 	-o-transition: top .25s;
 	-webkit-transition: top .25s;
 }

 .shard-img-container {
 	margin-top: 20px;
 	text-align: center;
 	transition: margin-top .25s;
 	-moz-transition: margin-top .25s;
 	-o-transition: margin-top .25s;
 	-webkit-transition: margin-top .25s;
 }

 .shard-img-container img {
 	display: inline-block;
 	width: 100px;
 }

 #experience .more {
 	position: absolute;
 	bottom: 35px;
 	right: 10px;
 }

 .more img {
 	opacity: .5;
 	width: 20px;
 	transition: all .25s;
 	-moz-transition: all .25s;
 	-o-transition: all .25s;
 	-webkit-transition: all .25s;
 }

 .shard-container.show .more img {
 	transform: rotate(180deg);
 	-webkit-transform: rotate(180deg);
 	-moz-transform: rotate(180deg);
 	-o-transform: rotate(180deg);
 }

 .shard-container:hover .more img {
 	opacity: .75;
 }

 .shard-container.show .shard-img-container {
 	margin-top: -160px;
 }

 .shard-container.show .shard-extra {
 	top: 0;
 }

 .shard .date {
 	font-size: 15px;
 }

 .shard h3 {
 	font-size: 18px;
 }

 @media screen and (max-width: 992px) {
 	.container-fluid {
 		padding-left: 0;
 		padding-right: 0;
 	}

 	.shard {
 		width: 100%;
 	}

 	.shard-img-container img {
 		padding-top: 25px;
 		width: 64px;
 	}

 	#experience .row {
 		width: 100%;
 	}
 }

 a.course {
 	color: #FD971F;
 }

 a.course:hover {
 	color: #66D9EF;
 }

 .thumbnail {
 	min-height: 220px;
 }

 #contacts .fa {
 	opacity: .8;
 	padding-top: 2px;
 	transition: all .3s ease-in-out;
 	-moz-transition: all .3s ease-in-out;
 	-o-transition: all .3s ease-in-out;
 	-webkit-transition: all .3s ease-in-out;
 }

 .helper {
 	display: inline-block;
 	height: 100%;
 	vertical-align: middle;
 }

 .club img {
 	vertical-align: middle;
 	max-width: 160px;
 }

 #education {
 	text-align: center;
 }

 #education-container {
 	max-width: 800px;
 	margin-right: auto;
 	margin-left: auto;
 }

 .education-section {
 	margin-bottom: 25px;
 }

 #contacts .fa:hover {
 	opacity: 1;
 }

 #mobile-contact {
 	padding-top: 25px;
 	text-align: center;
 	margin-left: auto;
 	margin-right: auto;
 }

 #credits {
 	background-color: #EEE;
 	text-align: center;
 	padding-bottom: 25px;
 }