@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

* {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

hr {
	border: 0;
	border-top: 1px solid #DDD;
}

h1 {
	font-size: 50px;
	margin-bottom: 15px;
	letter-spacing: 4px;
	cursor: default;
}

#content {
	max-width: 800px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 650px;
}

#bio p {
	color: #666;
}

#bio a {
	color: #F92672;	
}

#bio a:hover {
	color: #66D9EF;
}

#links {
	margin-bottom: 25px;
}

#links hr {
	max-width: 600px;
}

#links a {
	color: #333;
	font-size: 15px;
	margin-left: 40px;
	margin-right: 40px;
	transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-webkit-transition: all .15s linear;
}

#links a:hover {
	color: #999;
}

#social {
	margin-top: 30px;
	margin-bottom: 150px;
}

#social a {
	font-weight: 400;
}

#social a {
	color: #333;
	margin-left: 5px;
	margin-right: 5px;	
	transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-webkit-transition: all .15s linear;
}

#social a:nth-child(1):hover {
	color: #3b5998;
}

#social a:nth-child(2):hover {
	color: #0077B5;
}

#social a:nth-child(3):hover {
	color: #27ae60;
}

#social a:nth-child(4):hover {
	color: #e74c3c;
}

#social a:nth-child(5):hover {
	color: #f39c12;
}

.work a {
	color: #A6E22E;
}

.work {
	margin-bottom: 50px;
	padding-left: 15px;
}

.work p {
	text-align: left;
}

.work .title {
	font-weight: 400;
}

.work .date {
	font-size: 12px;
	float: right;
}

.work .content {
	font-size: 14px;
	line-height: 25px;
	padding-right: 150px;
}

.tech span {
	margin-right: 25px;
	font-size: 14px;
	font-weight: 400;
}