@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

* {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
}

hr {
	border: 0;
	border-top: 1px solid #DDD;
}

h1 {
	font-size: 30px;
	font-family: 'Merriweather', serif;
	margin-bottom: 15px;
	letter-spacing: 4px;
	cursor: default;
	font-weight: 400;
}

h2 {
	font-size: 25px;
	letter-spacing: 2px;
	margin-bottom: 28px;
	font-weight: 300;
}

#content {
	margin-top: 150px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#bio {
	margin-top: 50px;
	margin-bottom: 50px;
}

#bio p {
	color: #21272d;
	font-size: 16px;
}

#bio a {
	color: #F92672;	
}

#bio a:hover {
	color: #66D9EF;
}

#links {
	margin-bottom: 25px;
}

#links hr, #links .row {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.glyphicon {
	color: #21272d;
	margin-right: 7px;
	height: 3px;
}

#links a {
	color: #21272d;
	font-size: 13px;
	letter-spacing: 1px;
	transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-webkit-transition: all .15s linear;
}


#links a.faded, #links .glyphicon.faded {
	color: #AAA;
}

.expand {
	display: inline;
}

@media (max-width: 768px) {

	.link {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.expand {
		display: block;
		margin-bottom: 15px;
	}
}

#social {
	margin: 50px auto 150px auto;
	padding: 25px 0;
	max-width: 500px;
}

#social .expand a {
	font-weight: 400;
	color: #21272d;
	margin-left: 20px;
	margin-right: 20px;	
	transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-webkit-transition: all .15s linear;
}

#social .expand:nth-child(1) a:hover {
	color: #3b5998;
}

#social .expand:nth-child(2) a:hover {
	color: #0077B5;
}

#social .expand:nth-child(3) a:hover {
	color: #27ae60;
}

#social .expand:nth-child(4) a:hover {
	color: #e74c3c;
}

#social .expand:nth-child(5) a:hover {
	color: #f39c12;
}

.activity a {
	color: #6ACB80;
	transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-webkit-transition: all .15s linear;
}

.activity a:hover {
	color: #A6E22E;
}

.activity + hr {
	margin-bottom: 30px;
}

.activity {
	padding: 15px 20px 5px 20px;
}

.activity p {
	text-align: left;
}

.activity .title {
	font-weight: 600;
	font-size: 20px;
}

.activity .date {
	font-size: 12px;
}

.activity .content {
	font-size: 16px;
	line-height: 1.7em;
}

.tech span {
	margin-right: 25px;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
}

#credits {
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 35px;
}