doctype html

// @author: Daniel Fang
// @email: danfang@uw.edu

html(lang="en")
	head
		include includes/head
	body
		#menu: include includes/menu

		#global-wrapper
			section#top.container-fluid: include includes/top

			section#bio.container-fluid: include includes/bio

			section#work.container-fluid: include includes/work
			
			section#education.container-fluid: include includes/education
			
			// Contact section appears below the page on mobile versions
			section.visible-xs.visible-sm
				#mobile-contact.row
					.col-xs-3.col-sm-3.img-responsive
						a(target="_blank", href="https://www.facebook.com/Fang.Dan/"): span.fa.fa-facebook-square.fa-3x
					.col-xs-3.col-sm-3.img-responsive
						a(target="_blank" href="https://www.linkedin.com/in/danfang1"): span.fa.fa-linkedin-square.fa-3x
					.col-xs-3.col-sm-3.img-responsive
						a(target="_blank" href="mailto:danfang@uw.edu"): span.fa.fa-envelope-square.fa-3x
					.col-xs-3.col-sm-3.img-responsive
						a(target="_blank" href="https://github.com/danfang"): span.fa.fa-github-square.fa-3x

			section#credits
				p Built and designed by Daniel Fang, 2015
				p Created using HTML5, CSS3, 
					a(target="_blank" href="http://getbootstrap.com/") Bootstrap
					| , and 
					a(target="_blank" href="http://jquery.com/") jQuery 
				p Icons made by 
					a(target="_blank" href="http://www.freepik.com" title="Freepik") Freepik 
					| from 
					a(target="_blank" href="http://www.flaticon.com" title="Flaticon") Flaticon 
					| are licensed under 
					a(target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0") CC BY 3.0

	// Scripts
	script(src="https://code.jquery.com/jquery-2.1.3.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
	script(src="js/theater.js")
	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script(src="js/c3.min.js")

	// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-57931888-2', 'auto');
		ga('send', 'pageview');
	script(src="js/homepage.js")
