extends layouts/layout

block title
    title Daniel Fang - Homepage
    
block content
    #bio
        p Hi there!
        p A few things about me.
        p Student at the 
            a(href="http://uw.edu") University of Washington
            | .
        p Studying Computer Science, Math, and Linguistics.
        p Currently working on 
            a(href="http://linecut.io:3000") Linecut
            | , a service for event management.
        p Interning in Seattle at 
            a(href="http://socrata.com") Socrata
            |  for Summer 2015.
        p Feel free to reach out to me below -
        p I'm always happy to chat! 
        p Thanks :)