extends layouts/layout

block title
    title Daniel Fang - Homepage
    - var currentUrl = 'about';

block content
    #bio
        p Technology director at 
            a(target="_blank" href="http://startupuw.com/") Startup UW
            | .
        p Junior in 
            a(target="_blank" href="https://www.cs.washington.edu/") CSE
            |  at the 
            a(target="_blank" href="http://uw.edu") University of Washington
            | .
        p Interning in Palo Alto at 
            a(target="_blank" href="http://wealthfront.com") Wealthfront
            |  for Summer 2015.
        p Currently working on Launch for Startup UW (coming soon...)
