extends layouts/layout

block title
    title Daniel Fang - Projects

block content
    h2 Personal Projects

    +activity('Linecut', 'Jan 2015 - present')
            p.content Created a 
                a(target="_blank" href="http://linecut.io:3000/") service
                |  for managing large campus events in real-time. 
                | Vendors who use the service are able to easily notify customers of wait times via website, mobile application, and text message.
            p.tech
                span PostgreSQL
                span Node.js
                span Twilio API
                span AWS
            hr

    +activity('rmw', 'Jan 2014 - Feb 2015')
            p.content Created a simple 
                a(target="_blank" href="http://github.com/danfang/rmw") reminder service
                |  built for the Command Line.
            p.tech
                span Python
                span Unix
            hr

    +activity('Seattle Police Blotter', 'Jan 2015 - Feb 2015')
            p.content Created a real-time 
                a(target="_blank" href="http://code.danielfang.org/liveblotter/") web application 
                | to monitor Police and Fire Department alerts around Seattle.
            p.tech
                span Node.js
                span HTML5 Websockets
                span Google Maps API
                span Socrata API
            hr

    +activity('UW Tutor Network', 'Apr 2014 - Aug 2014')
            p.content Created a website to centralize the UW tutoring system. 
                | Allows for simple communication between tutors and students.
                | Used a webscraper to index the entire UW Time Schedule.
            p.tech
                span MySQL
                span PHP
                span Python
            hr

    +activity('Student RND Labs', 'June 2013 - Aug 2013')
            p.content Created and published a side-scrolling game onto the Google Play Store.
            p.tech
                span Java
                span LibGDX
            hr

    +activity('Project Euler', 'Jan 2013 - June 2014')
            p.content Completed 
                a(target="_blank" href="https://projecteuler.net/progress=danfang") Project Euler
                |  problems and wrote a 
                a(target="_blank" href="https://github.com/danfang/Algorithms/blob/master/src/PerformanceTest.java") benchmarking program
                |  to test program efficiency.
            p.tech
                span Java
            hr

    h2 Hackathons

    +activity('Zillow Hack Housing', 'Feb 2015')
            p.content Created a service called 
                a(href="http://refinehousing.com") Refine
                |  that makes housing decisions smarter and more personalized to users' needs.
            p.tech
                span Node.js
                span PostgreSQL
                span Python
                span Java (Android)
                span HUD Open Data
                span Socrata Open Data
            hr
