extends layouts/layout

block title
    title Daniel Fang - Work

block content
    h2 Work Experience

    +activity('Socrata', 'June 2015 - Sep 2015')
            p.content Full stack software intern at a growth-stage startup. Socrata is the leader in open data for 
                | local, national, and international municipals. Its goals include government transparency and
                | data democratization.
            p.tech
            hr

    +activity('Omni', 'July 2014 - Jan 2015')
            p.content Worked at a pre-seed startup aimed at bringing digital currency support to merchants.
                | Lead developer, managing 20+ projects regarding transaction fraud detection, accounting, and web app.
            p.tech
                span PostgreSQL
                span Python (+ Django)
                span C++
                span Java
                span AWS
                span Linux
            hr
