extends layouts/layout

block title
    title Daniel Fang - Work
    - var work = true;

block content
    +activity('Wealthfront', 'Summer 2015')
            p.content I'll be joining 
                a(target="_blank" href="https://www.wealthfront.com") Wealthfront
                | , a Palo Alto based growth-stage startup as a Software Engineering Intern! 
                | Wealthfront's mission is to provide sophisticated financial advice to the young and upcoming generation with the belief
                | that software can do this better than traditional financial advisers. They manage investment portfolios using
                | an automated trading platform built atop leading investment expertise.

    +activity('Omni', 'July 2014 - Jan 2015')
            p.content Worked at a pre-seed startup aimed at bringing digital currency support to merchants.
                | Lead developer, managing 20+ projects regarding transaction fraud detection, accounting, and web app.
            p.tech
                span PostgreSQL
                span Python (+ Django)
                span C++
                span Java
                span AWS
                span Linux
