doctype html
html
    head
        block title
        include ../includes/head
    body
        #content.container-fluid
            include ../includes/menu

            mixin activity(title, date)
                hr
                .activity
                    p.title= title
                    p.date= date
                    block
                hr

            block content

            include ../includes/social
            p Site Design by Daniel Fang