doctype html
html
    head
        block title
        include ../includes/head
    body
        #content.container-fluid
            include ../includes/menu

            mixin activity(title, date)
                .activity
                    .title-container
                        p.title= title
                        p.date= date
                    block
                hr

            block content

            include ../includes/social
            p#credits Site Design by Daniel Fang