h1 A
	span.scaps BOUT
hr
.container-fluid
	.row
		#profile.col-md-4.img-responsive
			img(alt="Profile photo" src="img/profile.png")

		#description.col-md-8
			p Hello! My name is Daniel and I'm currently a Sophomore at the University of Washington. I study Computer Science, Math, and Linguistics.
			p I'm a full-stack web developer, meaning I use code as an expressive tool for projects that interest me or that I find useful.
			p Other interests of mine include <a target="_blank" href="https://bitcoin.org/en/">digital currencies</a>, peer to peer networks, and mobile applications.
			p 
				| Feel free to shoot me a 
				a(href="mailto:danfang@uw.edu") message 
				| or add me on 
				a(target="_blank" href="https://www.facebook.com/Fang.Dan/") Facebook
				| , I'd love to talk!