#education-container
	h1 > 
		span.action ls 
		span.string education
	hr
	.education-section
		h3 Univeristy of Washington - 2017
		p I'm majoring in 
			a(target="_blank" href="http://www.cs.washington.edu/") Computer Science 
			| and minoring in 
			a(target="_blank" href="http://www.math.washington.edu/") Mathematics 
			| and 
			a(target="_blank" href="https://linguistics.washington.edu/") Linguistics
		p I've earned a GPA of 3.92 and I'm on the 
			a(target="_blank" href="http://www.washington.edu/students/gencat/front/Deans_List.html") Annual Dean's List
	
	.education-section
		h3 Current Coursework
		p I'm currently taking 
			a.string(target="_blank" href="http://courses.cs.washington.edu/331") CSE 331
			| , 
			a.string(target="_blank" href="http://courses.cs.washington.edu/390a") CSE 390a
			| , and 
			a.string(target="_blank" href="https://www.math.washington.edu/Undergrad/courses/309/309syl.php") MATH 309
	
	.education-section
		h3 Past Coursework
		.row
			.col-md-3
				h4.action CSE
				p 
					a.string(target="_blank" href="http://courses.cs.washington.edu/143") CSE 143
					| &bull; 
					a.string(target="_blank" href="http://courses.cs.washington.edu/154") CSE 154
					| &bull; 
					a.string(target="_blank" href="http://change.washington.edu/") CSE 590
			
			.col-md-3
				h4.action Math
				p 
					a.string(target="_blank" href="http://www.math.washington.edu/~m126/") MATH 126
					| &bull; 
					a.string(target="_blank" href="http://www.math.washington.edu/Undergrad/courses/307/307syl.php") MATH 307 
					| &bull; 
					a(target="_blank" href="https://www.math.washington.edu/Undergrad/courses/308/308syl.php") MATH 308

			.col-md-3
				h4.action Linguistics
				p 
					a(target="_blank" href="http://faculty.washington.edu/lauramcg/courses/ling200/L200%20syllabus%20s14.pdf") LING 200 
					| &bull; 
					a(target="_blank" href="https://linguistics.washington.edu/courses/2015/winter/ling/461/a") LING 461
			
			.col-md-3
				h4.action Misc
				p 
					a(target="_blank" href="http://www.washington.edu/students/crscat/engl.html") ENGL 111 
					| &bull; 
					a(target="_blank" href="http://www.washington.edu/students/crscat/engl.html")  ENGL 242 
					| &bull; 
					a(target="_blank" href="http://www.washington.edu/students/crscat/music.html") MUSIC 116 
					| &bull; 
					a(target="_blank" href="http://www.washington.edu/students/crscat/archit.html") ARCH 151
	
	.education-section
		h3 Clubs
		#clubs.row
			.club.col-md-4
				a.thumbnail(target="_blank" href="http://startupuw.com/")
					span.helper
					img(src="img/startupuw.png")
			
			.club.col-md-4
				a.thumbnail(target="_blank" href="http://www.cs.washington.edu/acm/")
					span.helper
					img(src="img/acm.png")
			
			.club.col-md-4
				a.thumbnail(target="_blank" href="https://github.com/UWHackers")
					span.helper
					img(src="img/hackers.png")