title Daniel Fang - Homepage

link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
link(rel="stylesheet" href="css/animate.css")
link(rel="stylesheet" href="css/homepage.css")
link(rel="shortcut icon" href="img/favicon.png")

meta(charset="UTF-8")
meta(name="description" content="Daniel Fang is a student at The University of Washington - Class of 2017")
meta(name="keywords" content="Dan,Daniel,Fang,UW,University,Washington,CSE,2017,Computer,Science,Redmond,WA,Washington,98052,98105,Seattle")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")