h1 Daniel Fang

#links 
    hr
    .row

        mixin menuItem(glyphicon, pageName, link, title)
            .col-xs-3.link
                a(href=link)
                    span.glyphicon(class={faded: currentUrl !== pageName} class="glyphicon-#{glyphicon}")
                    span.hidden-xs(class={faded: currentUrl !== pageName}) !{title}

        +menuItem('pencil', 'about', '/', 'ABOUT')
        +menuItem('briefcase', 'work', 'work.html', 'WORK')
        +menuItem('heart', 'projects', 'projects.html', 'PROJECTS')
        +menuItem('education', 'resume', 'resume.pdf', 'RESUM&Eacute;')
    hr