h1 Daniel Fang

#links 
    hr
    .row
        .col-sm-3.col-md-3.link
            a(href="/") ABOUT
        .col-sm-3.col-md-3.link
            a(href="work.html") WORK
        .col-sm-3.col-md-3.link
            a(href="projects.html") PROJECTS
        .col-sm-3.col-md-3.link
            a(href="resume.pdf") RESUM&Eacute;
    hr