#tagline-container.hidden-xs > 
	span#tagline-base
	span#tagline.action
#pagelinks.row
	.pagelink HOME
	.pagelink WORK
	.pagelink EDUCATION
#contact.row
	.col-md-3.img-responsive
		a(target="_blank", href="https://www.facebook.com/Fang.Dan/"): img(src="img/fb.png")
	.col-md-3.img-responsive
		a(target="_blank" href="https://www.linkedin.com/in/danfang1"): img(src="img/linkedin.png")
	.col-md-3.img-responsive
		a(target="_blank" href="mailto:danfang@uw.edu"): img(src="img/email.png")
	.col-md-3.img-responsive
		a(target="_blank" href="https://www.quora.com/Daniel-Fang-7"): img(src="img/quora.png")