#social
    .expand
        a(target="_blank" href="https://www.facebook.com/Fang.Dan/") Facebook
    .expand
        a(target="_blank" href="https://www.linkedin.com/in/danfang1") LinkedIn 
    .expand
        a(target="_blank" href="https://github.com/danfang") GitHub 
    .expand
        a(target="_blank" href="https://www.quora.com/Daniel-Fang-7") Quora 
    .expand 
        a(target="_blank" href="mailto:danfang@uw.edu") Email