#social
    a(target="_blank" href="https://www.facebook.com/Fang.Dan/")
        span.fa.fa-facebook
        span Facebook
    a(target="_blank" href="https://www.linkedin.com/in/danfang1")
        span.fa.fa-linkedin
        span LinkedIn
    a(target="_blank" href="https://github.com/danfang") 
        span.fa.fa-github
        span GitHub
    a(target="_blank" href="https://www.quora.com/Daniel-Fang-7")
        span.fa.fa-quote-left
        span Quora
    a(target="_blank" href="mailto:danfang@uw.edu")
        span.fa.fa-envelope
        span Email