#title
	h1
		span#ls.action
		| 
		span#name.string
			| D
			span.scaps ANIEL 
			| F
			span.scaps ANG
	hr
	h2 
		| UW 
		a(target="_blank" href="http://www.cs.washington.edu/") CSE 
		| and 
		a(target="_blank" href="http://www.math.washington.edu/") Math 
		| '17
	br
#seemore
	span.glyphicon.glyphicon-chevron-down
