h1 
	span.string projects
#projects.row
	mixin shard(img, header, date)
		.shard&attributes(attributes)
			.shard-container
				.shard-img-container
					img.img-responsive(src=img)
				.shard-description
					h3= header
					p.date= date
				.shard-extra
					block
				.more
					img(src="img/down.png")

	+shard('img/rmw.png', 'rmw', 'Jan 2015 - present')(class="col-md-6 col-lg-4")
		p.info Created a simple 
			a(target="_blank" href="http://github.com/danfang/rmw") reminder service
			|  built for the Command Line.
		p.info Python &bull; Unix

	+shard('img/queue.png', 'Linecut', 'Jan 2015 - present')(class="col-md-6 col-lg-4")
		p.info Created an 
			a(target="_blank" href="http://54.148.117.105:3000/") API service
			|  for large campus events.
		p.info Vendors who use the service are able to easily notify students of wait times via website, mobile application, and text message.
		p.info PostgreSQL &bull; Node.js &bull; Twilio API

	+shard('img/blotter.png', 'Seattle Live Blotter', 'Jan 2015 - Feb 2015')(class="col-md-6 col-lg-4")
		p.info Created a real-time 
			a(target="_blank" href="http://code.danielfang.org/liveblotter/") web application 
			| to monitor Police and Fire Department alerts around Seattle.
		p.info Node.js &bull; HTML5 WebSockets &bull; Google Maps API &bull; Seattle Open Data

	+shard('img/tutor.png', 'UW Tutor Network', 'April 2014 - Aug 2014')(class="col-md-6 col-lg-4")
		p.info Created a website to centralize the UW tutoring system.
		p.info Allows for simple communication between tutors and students.
		p.info Used a webscraper to index the entire UW Time Schedule
		p.info MySQL &bull; PHP &bull; Python

	+shard('img/labs.png', 'Student RND Labs', 'June 2013 - Aug 2013')(class="col-md-6 col-lg-4")
		p.info Created and published a side-scrolling game onto the Google Play Store
		p.info Java

	+shard('img/euler.png', 'Project Euler', 'Jan 2013 - June 2014')(class="col-md-6 col-lg-4")
		p.info Completed 
			a(target="_blank" href="https://projecteuler.net/progress=danfang") Project Euler
			|  problems and wrote a 
			a(target="_blank" href="https://github.com/danfang/Algorithms/blob/master/src/PerformanceTest.java") benchmarking program
			|  to test program efficiency.
		p.info Java
h1
	span.string hackathons
#hackathons.row
	+shard('img/zillow.png', 'Zillow Hack Housing', 'Feb 2015')(class="col-md-12")
		p.info Created a service called 
			a(href="http://refinehousing.com") Refine
			|  that makes housing decisions smarter and more personalized to users' needs.
		p.info Node.js &bull; PostgreSQL &bull; Python &bull; Java (Android) &bull; HUD Open Data &bull; Socrata Open Data
		
h1 
	span.string experience
#experiences.row 
	+shard('img/omni.png', 'Omni Payment Processing', 'July 2014 - Jan 2015')(class="col-md-12")
		p.info Worked at a pre-seed startup aimed at bringing digital currency support to merchants.
		p.info Lead developer, managing 20+ projects regarding transaction fraud detection, accounting, and web app.
		p.info PostgreSQL &bull; Python &bull; C++ &bull; Java &bull; Django &bull; AWS &bull; Linux